.main__container {
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 60px;
    transition: .5s;
    min-height: 94vh;
    position: relative;
}

.main__container.open {
    padding-left: 260px;
}

.main__title {
    font-size: 60px;
    margin-bottom: 30px;
}

.main__subtitle {
    margin-bottom: 40px;
}

.delete {
    position: absolute;
    top: 70px;
    right: 20px;
    color: $color-red;
    cursor: pointer;
}

@media only screen and (max-width: 956px) {
    .main__container {
        padding-left: 30px;
    }
    
    .main__container.open {
        padding-left: 260px;
    }
}

@media only screen and (max-width: 768px) {
    .main__title {
        font-size: 40px;
    }

    .main__container.open {
        opacity: 0;
    }
}