.passwords__container {
    margin-top: 30px;
}

.password__box {
    position: relative;
}

.password__box > .password__box-icon>i {
    font-size: 80px;
}

.password__box a {
    margin-bottom: 20px;
    display: inline-block;
}

.password__box p {
    margin-bottom: 0px;
    padding: 10px;
    box-shadow: inset -2px -2px 5px #FFF, inset 2px 2px 5px #a2a5b1;
}

.password__box p i, .password__box-field i.fa-pencil {
    color: $color-shadow;
    cursor: pointer;
    transition: .3s;

    &:hover {
        color: darken($color-shadow, 20)
    }
}

.password__box p i.show-pass {
    float: right;
}

.password__box-field p {
    min-width: 300px;
    border-radius: 5px;
}

.password__box-field i.fa-pencil, .password__box-field p {
    display: inline-block;
}

i.fa-pencil {
    color: $color-shadow;
    margin-left: 10px;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
    font-size: 16px;

    &:hover {
        color: darken($color-shadow, 20)
    }
}

.password__box-field:hover i.fa-pencil, h3:hover i.fa-pencil, .password__url:hover i.fa-pencil {
    opacity: 1;
}

.password__box .fa-check {
    color: $color-green;
    
    &:hover {
        color: $color-green;
    }
}

.password__form {
    display: block;
}

.password__form input {
    padding: 8px;
    display: inline-block;
    min-width: 300px;
    width: auto;
    margin-bottom: 0;
}

.password__delete {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $color-red;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
}

.password__box:hover .password__delete {
    opacity: 1;
}

.password__add {
    box-shadow: inset -5px -5px 10px #FFF, inset 5px 5px 10px #a2a5b1;

    &:hover {
        box-shadow: inset -2px -2px 5px #FFF, inset 2px 2px 5px #a2a5b1;
    }

    &:active {
        box-shadow: -5px -5px 10px #FFF, 5px 5px 10px #a2a5b1;
    }
}

.password__add .password__box-main, .password__add {
    color: $color-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.password__add .password__box-main i {
    font-size: 30px;
}

.password__box.password__add-form:hover {
    box-shadow: -5px -5px 10px #FFF, 5px 5px 10px #a2a5b1;
}

.password__add-form input {
    padding: 10px;
}

.password__add-form button {
    margin-bottom: 0;
}

.password__buttons {
    display: flex;
}

.password__buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.password__buttons button i {
    font-size: 12px;
    margin-left: 10px;
}

@media only screen and(max-width: 1500px) {
    .passwords__container {
        grid-template-columns: repeat(2, 1fr );
    }
}

@media only screen and(max-width: 768px) {
    .passwords__container {
        grid-template-columns: repeat(1, 1fr );
    }

    .password__box {
        margin-bottom: 0;
    }
    .password__add {
        padding: 20px;
    }
}