* {
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: none;
}

*,
::before,
::after {
    box-sizing: border-box
}

html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    color: rgb(33, 37, 41);
    
    // &:hover {
    //     color: rgb(33, 37, 41) !important;
    // }
}

main {
    width: 100%;
}

.mt-1 {
    margin-top: 5px;
}
.mt-5 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-5 {
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

.color-blue {
    color: $color-blue;
}
.color-green {
    color: $color-green;
}
.color-light-green {
    color: $color-light-green;
}
.color-red {
    color: $color-red;
}

input, button {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: $color-bg;
    text-shadow: 1px 1px 0 $color-white;
    width: 100%;
}

.btn {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 8px;
    padding: 16px;
    background-color: $color-bg;
    text-shadow: 1px 1px 0 $color-white;
    margin-bottom: 30px;

    i {
        font-size: 25px;
    }

    &:hover {
        box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }

    &:active {
        box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
}

.btn-blue {
    background: $color-blue;
    color: $color-white;
}

.shadow-text {
    color: $color-shadow;
    text-shadow: 1px 1px 1px $color-white;
}

.btn-less-deep {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;

    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: -2px -2px 2px $color-white, 1px 1px 2px $color-shadow;
    }

    &:active {
        box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
}

.hidden {
    display: none;
}

input {
    box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 5px;

    &:focus {
        box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
}

.form__btn {
    box-shadow: 2px 2px 5px $color-shadow, -5px -5px 10px $color-white;
    padding: 10px;
    margin: 0;
    display: inline-block;
    transition: .5s;
    width: auto;
    border-radius: 5px;

    &:hover {
        box-shadow: 1px 1px 2px $color-shadow, -2px -2px 5px $color-white;
    }
    
    &:active {
        box-shadow: inset 1px 1px 2px $color-shadow, inset -2px -2px 5px $color-white;

    }
}

.form__buttons-container {
    display: inline-flex;
    z-index: 10000000;
    
    & button {
        z-index: 10000000;
    }
}