$color-red: #F44336;
$color-bg: #EBECF0;
$color-shadow: #a2a5b1;
$color-white: #FFF;
$color-dark: #28292E;
$color-blue: #24b2eb;
$color-green: #4CAF50;
$color-light-green: #8BC34A;
$color-yellow: #FFEB3B;